* {
  padding: 0;
  margin: 0;
}

#main-title-one {
    text-align: center;
    font-size: 500%;
    padding-top: 30%;
    padding-bottom: 2.5%
}

#main-title-two {
    text-align: center;
    font-size: 400%;
    padding-bottom: 2.5%
}

#website-blurb {
    text-align: center;
    font-size: 125%;
}

.resume-category {
    text-decoration: underline;
    font-weight: bold;
    font-size: 4.5rem;
    text-align: center;
    /* border-bottom: 0.2rem solid black; */
}

.resume-line-one {
    font-size: 3rem;
    text-align: center
}

.resume-line-two {
    font-size: 2rem;
    text-align: center
}

.resume-line-three {
    font-size: 1.5rem;
    text-align: center
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', serif; 
  background: url("../images/white-mountain.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-size: 1.6rem;
  color: #000;
}

header {
  /* border-bottom: 0.2rem solid #000; */
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  padding: 1.2rem 0;
  font-size: 80%;
  font-weight: bold;
  color: white
}

footer a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.main-content {
    min-height: 84vh;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.links li{
    display: inline;
}

.footer-icons {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#hakyll-ad {
    text-align: center;
    margin-top: 2.5%;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

.logo a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

/* @media (max-width: 550px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
} */

/* @media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
} */

@media (max-width: 550px) {
  body {
    width: 30rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 1rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }

  p {
    font-size: 1.4rem;
    padding-bottom: 1.5rem;
  }

  #main-title-one {
    text-align: center;
    font-size: 300%;
    padding-top: 30%;
    padding-bottom: 2.5%
  }

  #main-title-two {
    text-align: center;
    font-size: 300%;
    padding-bottom: 2.5%;
  }

  #website-blurb {
    text-align: center;
    font-size: 125%;
  }

  .resume-category {
    text-decoration: underline;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
  }

  .resume-line-one {
    font-size: 2rem;
    text-align: center
  }

  .resume-line-two {
    font-size: 1.5rem;
    text-align: center
  }

  .resume-line-three {
    font-size: 1.5rem;
    text-align: center
 }

 .main-content {
    min-height: 75vh;
  }
}

@media (min-width: 600px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}